{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

    <h1>Welcome, {{ user.first_name }}!</h1>
    
    <h1 class="text-center">Notes</h1>

    <!-- Mensajes de error y éxito -->
    <div id="error-message" style="display: none; color: red;"></div>
    <div id="success-message" style="display: none; color: green;"></div>

    <form method="GET" action="{{url_for('views.search')}}">
        {% if csrf is defined and csrf is not none %}
            {{ csrf.hidden_tag() }}
        {% endif %}
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar notas...">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <ul class="list-group list-group-flush" id="notes">
        {% for note in notes %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <span>{{ note.data }}</span>
                    <span class="badge badge-primary bg-success">{{ note.category }}</span>
                    {% if note.reminder %}
                        <span class="badge" style="color: red;">(Reminder: {{ note.reminder.strftime('%Y-%m-%d %H:%M') }})</span>
                    {% endif %}
                </div>
                <div>
                    <button type="button" class="btn btn-danger" onClick="showDeleteConfirmation('{{ note.id }}')"><i class="fa-solid fa-trash-can"></i>
                        Delete
                    </button>
                    <button type="button" class="btn btn-primary" data-note-id="{{ note.id }}" data-bs-toggle="modal" data-bs-target="#editNoteModal_{{ note.id }}"><i class="fa-solid fa-screwdriver-wrench"></i>
                        Edit Note
                    </button>
                </div>
                <div id="edit_form_{{ note.id }}" style="display: none;">
                    <!-- Agrega aquí los campos del formulario si es necesario -->
                </div>
            </div>
        </li>

        <!-- Modal para Editar -->
        <div class="modal fade" id="editNoteModal_{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="editNoteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editNoteModalLabel">Editar Nota</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('views.edit_note_modal', note_id=note.id) }}" onsubmit="return updateNote('{{ note.id }}')">
                            {{ form.csrf_token }}
                            <!-- Campos del formulario -->
                            <div class="mb-3">
                                {{ form.note.label(class="form-label") }}
                                {{ form.note(class="form-control", id="editedNoteData", rows="3", value=note.data|e)}}
                            </div>
                            <div class="mb-3">
                                {{ form.category.label }}
                                {{ form.category(class="form-control", id="editedNoteCategory", value=note.category|e) }}
                            </div>
                            <div class="mb-3">
                                {{ form.reminder.label }}
                                {{ form.reminder(class="form-control", id="editedNoteReminder", value=note.reminder|default('')) }}
                            </div>
                            <!-- ... (otros campos si es necesario) -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>

    {% if pagination.pages > 1 %}
        <ul class="pagination justify-content-center">
            {% if pagination.has_prev %}
                <li class="page-item"><a class="page-link" href="{{ url_for('views.home', page=pagination.prev_num) }}">Anterior</a></li>
            {% endif %}
            
            {% for page_num in pagination.iter_pages() %}
                {% if page_num %}
                    <li class="page-item{% if page_num == pagination.page %} active{% endif %}">
                        <a class="page-link" href="{{ url_for('views.home', page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
                <li class="page-item"><a class="page-link" href="{{ url_for('views.home', page=pagination.next_num) }}">Siguiente</a></li>
            {% endif %}
        </ul>
    {% endif %}
     
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createNoteModal">
        <i class="fa-solid fa-file-circle-plus fa-fade"></i>  Crear Notas
    </button>
    <!-- modal para crear nota -->
    <div class="modal fade" id="createNoteModal" tabindex="-1" aria-labelledby="createNoteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createNoteModalLabel">Add Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Tu formulario dentro del modal -->
                    <!-- Formulario de Creación de Notas -->
                <form method="POST" action="{{url_for('views.home')}}">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        {{ form.note.label(class="form-label") }}
                        {{ form.note(class="form-control", placeholder="Enter your note...") }}
                        {% if form.note.errors %}
                            <div class="alert alert-danger">
                                {{ form.note.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.category.label(class="form-label") }}
                        {{ form.category(class="form-control", placeholder="Enter category...") }}
                        {% if form.category.errors %}
                            <div class="alert alert-danger">
                                {{ form.category.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        {{ form.reminder.label(class="form-label") }}
                        {{ form.reminder(class="form-control") }}
                        {% if form.reminder.errors %}
                            <div class="alert alert-danger">
                                {{ form.reminder.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Add Note</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal para Eliminar -->
    <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirmar Eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar esta nota?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" onclick="deleteNote()">Sí, eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}