/* Estilos para las notas */
.list-group-item {
    position: relative;
}

/* Estilos para las categorías */
.badge {
    margin-left: 10px;
    color: #f8baba
}

/* Estilos para los formularios de edición */
#edit_form_ textarea,
#edit_form_ input {
    width: 100%;
    margin-bottom: 10px;
}

#edit_form_ button {
    margin-right: 10px;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    right: 10px; /* Ajusta según el espacio deseado */
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}